{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br/>
<h1 align="center">Notes</h1>
<br/>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.Notes %}
    <li class="list-group-item">
        <p class="mb-1">{{ note.Data }}</p>
        <small>{{ note.Date }}</small>
        <span aria-hidden="true">
            <button type="button" class="close" onclick="deleteNote({{ note.ID }})">
                &times;
            </button>
        </span>
    </li>
    {% endfor %}
</ul>
<br/>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Notes</button>
    </div>
</form>
{% endblock %}